body {
	background-color: #e1f4f3;
}

div {
	padding: 15px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px#706c61;
	width: 60%;
	margin: 100px auto;
}

p {
	margin: 0px;
	font-family: arial;
	font-size: 1em;
	color: #333333;
}

@keyframes blink {
to { color: magenta; }
}


.blink {
	font-weight: bold;
}

.blink:hover {
	color: cyan;
	text-shadow: 0 0 3px;
	animation: blink .1s steps(2, start) infinite;
}
